<div class="product-detail">
  <dt>Color</dt>
  <dd class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="--bg: <%= productColor.toLowerCase() %>"
      role="img"
      aria-label="<%= productColor %>"
    ></div>
    <% }) %>
  </dd>
</div>
<div class="product-detail">
  <dt>Type</dt>
  <dd><%= product.details.type %></dd>
</div>
<div class="product-detail">
  <dt>Internal HD Bays</dt>
  <dd><%= product.details.hdBays %></dd>
</div>
<div class="product-detail">
  <dt>Side Panel</dt>
  <dd><%= product.details.sidePanel %></dd>
</div>
<div class="product-detail">
  <dt>External Volume</dt>
  <dd><%= product.details.externalVolume %></dd>
</div>
