<div class="product-detail">
  <span>Core Count</span>
  <span><%= product.details.coreCount %></span>
</div>
<div class="product-detail">
  <span>Performance Core Clock</span>
  <span><%= product.details.coreClock %></span>
</div>
<div class="product-detail">
  <span>Performance Core Boost Clock</span>
  <span><%= product.details.boostClock %></span>
</div>
<div class="product-detail">
  <span>Microarchitecture</span>
  <span><%= product.details.microArchitecture %></span>
</div>
<div class="product-detail">
  <span>TDP</span>
  <span><%= product.details.tdp %></span>
</div>
<div class="product-detail">
  <span>Integrated Graphics</span>
  <span><%= product.details.integratedGPU %></span>
</div>
