<div class="product-detail">
  <dt>Core Count</dt>
  <dd><%= product.details.coreCount %></dd>
</div>
<div class="product-detail">
  <dt>Performance Core Clock</dt>
  <dd><%= product.details.coreClock %></dd>
</div>
<div class="product-detail">
  <dt>Performance Core Boost Clock</dt>
  <dd><%= product.details.boostClock %></dd>
</div>
<div class="product-detail">
  <dt>Microarchitecture</dt>
  <dd><%= product.details.microArchitecture %></dd>
</div>
<div class="product-detail">
  <dt>TDP</dt>
  <dd><%= product.details.tdp %></dd>
</div>
<div class="product-detail">
  <dt>Integrated Graphics</dt>
  <dd><%= product.details.integratedGPU %></dd>
</div>
