<div class="product-detail">
  <dt>Color</dt>
  <dd class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="--bg: <%= productColor.toLowerCase() %>"
      role="img"
      aria-label="<%= productColor %>"
    ></div>
    <% }) %>
  </dd>
</div>
<div class="product-detail">
  <dt>Fan RPM</dt>
  <dd>
    <%= product.details.fanRPMMin.charAt(0) === "0" ? product.details.fanRPMMax
    : product.details.fanRPMMin + " - " + product.details.fanRPMMax %>
  </dd>
</div>
<div class="product-detail">
  <dt>Radiator Size</dt>
  <dd>
    <%= product.details.radiatorSize === "None" ? "–" :
    product.details.radiatorSize %>
  </dd>
</div>
<div class="product-detail">
  <dt>Noise Level</dt>
  <dd>
    <%= product.details.noiseLevelMin.charAt(0) === "0" ?
    product.details.noiseLevelMax : product.details.noiseLevelMin + " - " +
    product.details.noiseLevelMax %>
  </dd>
</div>
