<div class="product-detail">
  <dt>Color</dt>
  <dd class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="--bg: <%= productColor.toLowerCase() %>"
      role="img"
      aria-label="<%= productColor %>"
    ></div>
    <% }) %>
  </dd>
</div>
<div class="product-detail">
  <dt>Frequency Response</dt>
  <dd><%= product.details.frequencyResponse %></dd>
</div>
<div class="product-detail">
  <dt>Wireless</dt>
  <dd><%= product.details.wireless %></dd>
</div>
<div class="product-detail">
  <dt>Microphone</dt>
  <dd><%= product.details.microphone %></dd>
</div>
