<div class="product-detail">
  <span>Color</span>
  <div class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="
        background-color: <%= productColor.toLowerCase() %>;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        border: 1px solid rgba(0, 0, 0, 0.144);
      "
    ></div>
    <% }) %>
  </div>
</div>
<div class="product-detail">
  <span>Style</span>
  <span><%= product.details.style %></span>
</div>
<div class="product-detail">
  <span>Switch Type</span>
  <span
    ><%= product.details.switchType ? product.details.switchType : "–" %></span
  >
</div>
<div class="product-detail">
  <span>Backlit</span>
  <span><%= product.details.backlit %></span>
</div>
<div class="product-detail">
  <span>Tenkeyless</span>
  <span><%= product.details.tenkeyless %></span>
</div>
<div class="product-detail">
  <span>Tenkeyless</span>
  <span><%= product.details.connectionType %></span>
</div>
