<div class="product-detail">
  <dt>Color</dt>
  <dd class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="--bg: <%= productColor.toLowerCase() %>"
      role="img"
      aria-label="<%= productColor %>"
    ></div>
    <% }) %>
  </dd>
</div>
<div class="product-detail">
  <dt>Style</dt>
  <dd><%= product.details.style %></dd>
</div>
<div class="product-detail">
  <dt>Switch Type</dt>
  <dd><%= product.details.switchType ? product.details.switchType : "–" %></dd>
</div>
<div class="product-detail">
  <dt>Backlit</dt>
  <dd><%= product.details.backlit %></dd>
</div>
<div class="product-detail">
  <dt>Tenkeyless</dt>
  <dd><%= product.details.tenkeyless %></dd>
</div>
<div class="product-detail">
  <dt>Tenkeyless</dt>
  <dd><%= product.details.connectionType %></dd>
</div>
