<div class="product-detail">
  <dt>Color</dt>
  <dd class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="--bg: <%= productColor.toLowerCase() %>"
      role="img"
      aria-label="<%= productColor %>"
    ></div>
    <% }) %>
  </dd>
</div>
<div class="product-detail">
  <dt>Speed</dt>
  <dd><%= product.details.speed %></dd>
</div>
<div class="product-detail">
  <dt>Modules</dt>
  <dd><%= product.details.modules %></dd>
</div>
<div class="product-detail">
  <dt>First Word Latency</dt>
  <dd><%= product.details.firstWordLatency %></dd>
</div>
<div class="product-detail">
  <dt>CAS Latency</dt>
  <dd><%= product.details.casLatency %></dd>
</div>
