<div class="product-detail">
  <dt>Screen Size</dt>
  <dd><%= product.details.screenSize %></dd>
</div>
<div class="product-detail">
  <dt>Resolution</dt>
  <dd><%= product.details.resolution %></dd>
</div>
<div class="product-detail">
  <dt>Refresh Rate</dt>
  <dd><%= product.details.refreshRate %></dd>
</div>
<div class="product-detail">
  <dt>Response Time</dt>
  <dd>
    <%= product.details.responseTime ? product.details.responseTime : "–" %>
  </dd>
</div>
<div class="product-detail">
  <dt>Panel Type</dt>
  <dd><%= product.details.panelType %></dd>
</div>
<div class="product-detail">
  <dt>Aspect Ratio</dt>
  <dd><%= product.details.aspectRatio %></dd>
</div>
