<div class="product-detail">
  <span>Screen Size</span>
  <span><%= product.details.screenSize %></span>
</div>
<div class="product-detail">
  <span>Resolution</span>
  <span><%= product.details.resolution %></span>
</div>
<div class="product-detail">
  <span>Refresh Rate</span>
  <span><%= product.details.refreshRate %></span>
</div>
<div class="product-detail">
  <span>Response Time</span>
  <span>
    <%= product.details.responseTime ? product.details.responseTime : "–" %>
  </span>
</div>
<div class="product-detail">
  <span>Panel Type</span>
  <span><%= product.details.panelType %></span>
</div>
<div class="product-detail">
  <span>Aspect Ratio</span>
  <span><%= product.details.aspectRatio %></span>
</div>
