<div class="product-detail">
  <span>Color</span>
  <div class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="
        background-color: <%= productColor.toLowerCase() %>;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        border: 1px solid rgba(0, 0, 0, 0.144);
      "
    ></div>
    <% }) %>
  </div>
</div>
<div class="product-detail">
  <span>Socket / CPU</span>
  <span><%= product.details.socket %></span>
</div>
<div class="product-detail">
  <span>Form Factor</span>
  <span><%= product.details.formFactor %></span>
</div>
<div class="product-detail">
  <span>Memory Max</span>
  <span> <%= product.details.memoryMax %> </span>
</div>
<div class="product-detail">
  <span>Memory Slots</span>
  <span><%= product.details.memorySlots %></span>
</div>
