<div class="product-detail">
  <dt>Color</dt>
  <dd class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="--bg: <%= productColor.toLowerCase() %>"
      role="img"
      aria-label="<%= productColor %>"
    ></div>
    <% }) %>
  </dd>
</div>
<div class="product-detail">
  <dt>Socket / CPU</dt>
  <dd><%= product.details.socket %></dd>
</div>
<div class="product-detail">
  <dt>Form Factor</dt>
  <dd><%= product.details.formFactor %></dd>
</div>
<div class="product-detail">
  <dt>Memory Max</dt>
  <dd><%= product.details.memoryMax %></dd>
</div>
<div class="product-detail">
  <dt>Memory Slots</dt>
  <dd><%= product.details.memorySlots %></dd>
</div>
