<div class="product-detail">
  <dt>Color</dt>
  <dd class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="--bg: <%= productColor.toLowerCase() %>"
      role="img"
      aria-label="<%= productColor %>"
    ></div>
    <% }) %>
  </dd>
</div>
<div class="product-detail">
  <dt>Connection Type</dt>
  <dd><%= product.details.connectionType %></dd>
</div>
<div class="product-detail">
  <dt>Maximum DPI</dt>
  <dd><%= product.details.maximumDPI %></dd>
</div>
<div class="product-detail">
  <dt>Hand Orientation</dt>
  <dd><%= product.details.handOrientation %></dd>
</div>
