<div class="product-detail">
  <span>Color</span>
  <div class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="
        background-color: <%= productColor.toLowerCase() %>;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        border: 1px solid rgba(0, 0, 0, 0.144);
      "
    ></div>
    <% }) %>
  </div>
</div>
<div class="product-detail">
  <span>Type</span>
  <span><%= product.details.type %></span>
</div>
<div class="product-detail">
  <span>Efficiency Rating</span>
  <span><%= product.details.efficiencyRating %></span>
</div>
<div class="product-detail">
  <span>Wattage</span>
  <span> <%= product.details.wattage %> </span>
</div>
<div class="product-detail">
  <span>Modular</span>
  <span> <%= product.details.modular %> </span>
</div>
