<div class="product-detail">
  <dt>Color</dt>
  <dd class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="--bg: <%= productColor.toLowerCase() %>"
      role="img"
      aria-label="<%= productColor %>"
    ></div>
    <% }) %>
  </dd>
</div>
<div class="product-detail">
  <dt>Type</dt>
  <dd><%= product.details.type %></dd>
</div>
<div class="product-detail">
  <dt>Efficiency Rating</dt>
  <dd><%= product.details.efficiencyRating %></dd>
</div>
<div class="product-detail">
  <dt>Wattage</dt>
  <dd><%= product.details.wattage %></dd>
</div>
<div class="product-detail">
  <dt>Modular</dt>
  <dd><%= product.details.modular %></dd>
</div>
