<div class="product-detail">
  <span>Capacity</span>
  <span><%= product.details.capacity %></span>
</div>
<div class="product-detail">
  <span>Type</span>
  <span><%= product.details.type %></span>
</div>
<div class="product-detail">
  <span>Cache</span>
  <span> <%= product.details.cache %> </span>
</div>
<div class="product-detail">
  <span>Form Factor</span>
  <span> <%= product.details.formFactor %> </span>
</div>
<div class="product-detail">
  <span>Interface</span>
  <span> <%= product.details.interface %> </span>
</div>
