<div class="product-detail">
  <dt>Capacity</dt>
  <dd><%= product.details.capacity %></dd>
</div>
<div class="product-detail">
  <dt>Type</dt>
  <dd><%= product.details.type %></dd>
</div>
<div class="product-detail">
  <dt>Cache</dt>
  <dd><%= product.details.cache %></dd>
</div>
<div class="product-detail">
  <dt>Form Factor</dt>
  <dd><%= product.details.formFactor %></dd>
</div>
<div class="product-detail">
  <dt>Interface</dt>
  <dd><%= product.details.interface %></dd>
</div>
