<div class="product-detail">
  <dt>Color</dt>
  <dd class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="--bg: <%= productColor.toLowerCase() %>"
      role="img"
      aria-label="<%= productColor %>"
    ></div>
    <% }) %>
  </dd>
</div>
<div class="product-detail">
  <dt>Chipset</dt>
  <dd><%= product.details.chipset %></dd>
</div>
<div class="product-detail">
  <dt>Memory</dt>
  <dd><%= product.details.memory %></dd>
</div>
<div class="product-detail">
  <dt>Core Clock</dt>
  <dd><%= product.details.coreClock %></dd>
</div>
<div class="product-detail">
  <dt>Boost Clock</dt>
  <dd><%= product.details.boostClock %></dd>
</div>
<div class="product-detail">
  <dt>Length</dt>
  <dd><%= product.details.length %></dd>
</div>
