<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="static/bootstrap.css" />
    <link rel="stylesheet" href="static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/favicon-16x16.png"
    />
    <link rel="manifest" href="static/site.webmanifest" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("components/header") %>
    <main class="index-page">
      <section
        role="region"
        aria-labelledby="dashboard-heading"
        class="dashboard-container"
      >
        <h1 id="dashboard-heading">Dashboard</h1>
        <ul class="dashboard">
          <li class="dashboard-stat">
            <img
              class="dashboard-icon"
              src="static/pc-1.png"
              alt=""
              aria-hidden="true"
              role="img"
            />
            <div class="dashboard-details">
              <span><%= dashboard.buildsCount %></span>
              <span>Builds Completed</span>
            </div>
          </li>
          <li class="dashboard-stat">
            <img
              class="dashboard-icon"
              src="static/dollar.png"
              alt=""
              aria-hidden="true"
              role="img"
            />
            <div class="dashboard-details">
              <span>$<%= Math.round(dashboard.revenue) %></span>
              <span>Total Revenue</span>
            </div>
          </li>
          <li class="dashboard-stat">
            <img
              class="dashboard-icon"
              src="static/supply.png"
              alt=""
              aria-hidden="true"
              role="img"
            />
            <div class="dashboard-details">
              <span><%= dashboard.productsCount %></span>
              <span>Unique Products</span>
            </div>
          </li>
          <li class="dashboard-stat">
            <img
              class="dashboard-icon"
              src="static/p-3.png"
              alt=""
              aria-hidden="true"
              role="img"
            />
            <div class="dashboard-details">
              <span><%= dashboard.productsQuantity %></span>
              <span>No. of Products</span>
            </div>
          </li>
        </ul>
      </section>
      <section
        role="region"
        aria-label="Builds actions"
        class="builds-container"
      >
        <h2>Builds</h2>
        <div class="builds">
          <img
            aria-hidden="true"
            role="img"
            src="static/build.png"
            alt="An image of a PC build"
          />
          <div class="build-links">
            <a aria-label="Go to completed builds page" href="/builds"
              >Completed Builds</a
            >
            <a aria-label="Go to builder page" href="/builds/builder"
              >Create New build</a
            >
          </div>
        </div>
      </section>
      <section
        role="region"
        aria-label="Products actions"
        class="categories-container"
      >
        <h2>Products</h2>
        <div class="categories">
          <a
            aria-label="View CPUs"
            href="/products?category=cpu"
            class="category"
          >
            <img
              aria-hidden="true"
              role="img"
              src="static/cpu-1.png"
              alt="An image of a cpu"
              class="category-image"
            />
            <p>CPUs</p>
          </a>
          <a
            aria-label="View CPU coolers"
            href="/products?category=cpu-cooler"
            class="category"
          >
            <img
              src="static/cpu-cooler-3.png"
              alt="An image of a cpu cooler"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>CPU Coolers</p>
          </a>
          <a
            aria-label="View motherboards"
            href="/products?category=motherboard"
            class="category"
          >
            <img
              src="static/mb-3.png"
              alt="An image of a motherboard"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Motherboards</p>
          </a>
          <a
            aria-label="View memory"
            href="/products?category=memory"
            class="category"
          >
            <img
              src="static/memory-1.png"
              alt="An image of a ram"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Memory</p>
          </a>
          <a
            aria-label="View storage"
            href="/products?category=storage"
            class="category"
          >
            <img
              src="static/storage-2.png"
              alt="An image of a ssd"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Storage</p>
          </a>
          <a
            aria-label="View video cards"
            href="/products?category=video-card"
            class="category"
          >
            <img
              src="static/video-card-3.png"
              alt="An image of a GPU"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Video Card</p>
          </a>
          <a
            aria-label="View power supplies"
            href="/products?category=power-supply"
            class="category"
          >
            <img
              src="static/psu-2.png"
              alt="An image of a power supply"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Power Supplies</p>
          </a>
          <a
            aria-label="View cases"
            href="/products?category=case"
            class="category"
          >
            <img
              src="static/case-1.png"
              alt="An image of cases"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Cases</p>
          </a>
          <a
            aria-label="View monitors"
            href="/products?category=monitor"
            class="category"
          >
            <img
              src="static/monitor-1.png"
              alt="An image of a monitor"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Monitors</p>
          </a>
          <a
            aria-label="View headphones"
            href="/products?category=headphones"
            class="category"
          >
            <img
              src="static/headphones-1.png"
              alt="An image of a headphone"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Headphones</p>
          </a>
          <a
            aria-label="View keyboards"
            href="/products?category=keyboard"
            class="category"
          >
            <img
              src="static/kb-2.png"
              alt="An image of a keyboard"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Keyboards</p>
          </a>
          <a
            aria-label="View mice"
            href="/products?category=mouse"
            class="category"
          >
            <img
              src="static/mouse-1.png"
              alt="An image of a mouse"
              class="category-image"
              aria-hidden="true"
              role="img"
            />
            <p>Mice</p>
          </a>
        </div>
      </section>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
