<div class="product-detail">
  <label for="color">Color</label>
  <input
    type="text"
    id="color"
    name="color"
    value="<%= product.details.color %>"
    required
  />
</div>
<div class="product-detail">
  <label for="type">Type</label>
  <input
    type="text"
    id="type"
    name="type"
    value="<%= product.details.type %>"
    required
  />
</div>
<div class="product-detail">
  <label for="hd-bays">Internal HD Bays</label>
  <input
    type="number"
    min="0"
    id="hd-bays"
    name="hdBays"
    value="<%= product.details.hdBays %>"
    required
  />
</div>
<div class="product-detail">
  <label for="side-panel">Side Panel</label>
  <input
    type="text"
    id="side-panel"
    name="sidePanel"
    value="<%= product.details.sidePanel %>"
    required
  />
</div>
<div class="product-detail">
  <label for="external-volume">External Volume</label>
  <input
    type="number"
    step=".1"
    min="0"
    id="external-volume"
    name="externalVolume"
    value="<%= parseFloat(product.details.externalVolume) %>"
    required
  />
</div>
