<div class="product-detail">
  <span>Color</span>
  <input
    type="text"
    name="color"
    value="<%= product.details.color %>"
  required />
</div>
<div class="product-detail">
  <span>Type</span>
  <input
    type="text"
    name="type"
    value="<%= product.details.type %>"
  required />
</div>
<div class="product-detail">
  <span>Internal HD Bays</span>
  <input
    type="text"
    name="hdBays"
    value="<%= product.details.hdBays %>"
  required />
</div>
<div class="product-detail">
  <span>Side Panel</span>
  <input
    type="text"
    name="sidePanel"
    value="<%= product.details.sidePanel %>"
  required />
</div>
<div class="product-detail">
  <span>External Volume</span>
  <input
    type="text"
    name="externalVolume"
    value="<%= product.details.externalVolume %>"
  required />
</div>
