<div class="product-detail">
  <span>Core Count</span>
  <input
    type="number"
    min="0"
    id="core-count"
    value="<%= parseInt(product.details.coreCount) %>"
    name="coreCount"
    required
  />
</div>
<div class="product-detail">
  <span>Performance Core Clock</span>
  <input
    type="number"
    min="0"
    step=".01"
    id="core-clock"
    name="coreClock"
    value="<%= parseFloat(product.details.coreClock) %>"
    required
  />
</div>
<div class="product-detail">
  <span>Performance Core Boost Clock</span
  ><input
    type="number"
    min="0"
    step=".01"
    id="boost-count"
    name="boostClock"
    value="<%= parseFloat(product.details.boostClock) %>"
    required
  />
</div>
<div class="product-detail">
  <span>Microarchitecture</span>
  <input
    type="text"
    name="microArchitecture"
    value="<%= product.details.microArchitecture %>"
    required
  />
</div>
<div class="product-detail">
  <span>TDP</span>
  <input
    type="number"
    min="0"
    id="tdp"
    name="tdp"
    value="<%= parseInt(product.details.tdp) %>"
    required
  />
</div>
<div class="product-detail">
  <span>Integrated Graphics</span>
  <input
    type="text"
    name="integratedGPU"
    value="<%= product.details.integratedGPU %>"
    required
  />
</div>
