<div class="product-detail">
  <span>Core Count</span>
  <input
    type="text"
    name="coreCount"
    value="<%= product.details.coreCount %>"
  required />
</div>
<div class="product-detail">
  <span>Performance Core Clock</span>
  <input
    type="text"
    name="coreClock"
    value="<%= product.details.coreClock %>"
  required />
</div>
<div class="product-detail">
  <span>Performance Core Boost Clock</span>
  <input
    type="text"
    name="boostClock"
    value="<%= product.details.boostClock %>"
  required />
</div>
<div class="product-detail">
  <span>Microarchitecture</span>
  <input
    type="text"
    name="microArchitecture"
    value="<%= product.details.microArchitecture %>"
  required />
</div>
<div class="product-detail">
  <span>TDP</span>
  <input type="text" name="tdp" value="<%= product.details.tdp %>" required />
</div>
<div class="product-detail">
  <span>Integrated Graphics</span>
  <input
    type="text"
    name="integratedGPU"
    value="<%= product.details.integratedGPU %>"
  required />
</div>
