<div class="product-detail">
  <span>Color</span>
  <input type="text" name="color" value="<%= product.details.color %>" required />
</div>
<div class="product-detail">
  <span>Style</span>
  <input type="text" name="style" value="<%= product.details.style %>" required />
</div>
<div class="product-detail">
  <span>Switch Type</span>
  <input
    type="text"
    name="switchType"
    value="<%= product.details.switchType %>"
  required />
</div>
<div class="product-detail">
  <span>Backlit</span>
  <input type="text" name="backlit" value="<%= product.details.backlit %>" required />
</div>
<div class="product-detail">
  <span>Tenkeyless</span>
  <input
    type="text"
    name="tenkeyless"
    value="<%= product.details.tenkeyless %>"
  required />
</div>
<div class="product-detail">
  <span>Tenkeyless</span>
  <input
    type="text"
    name="connectionType"
    value="<%= product.details.connectionType %>"
  required />
</div>
