<div class="product-detail">
  <label for="color">Color</label>
  <input
    type="text"
    id="color"
    name="color"
    value="<%= product.details.color %>"
    required
  />
</div>
<fieldset class="product-detail">
  <legend>Style</legend>
  <div class="product-specific-input-radio">
    <div>
      <input type="radio" id="gaming" name="style" <%= product.details.style ===
      "gaming" ? 'checked' : '' %> value="Gaming" required />
      <label for="gaming">Gaming</label>
    </div>
    <div>
      <input type="radio" id="mini" name="style" <%= product.details.style ===
      "mini" ? 'checked' : '' %> value="Mini" />
      <label for="mini">Mini</label>
    </div>
    <div>
      <input type="radio" id="standard" name="style" <%= product.details.style
      === "standard" ? 'checked' : '' %> value="Standard" />
      <label for="standard">Standard</label>
    </div>
    <div>
      <input type="radio" id="slim" name="style" <%= product.details.style ===
      "slim" ? 'checked' : '' %> value="Slim" />
      <label for="slim">Slim</label>
    </div>
  </div>
</fieldset>
<div class="product-detail">
  <label for="switch-type">Switch Type</label>
  <input
    type="text"
    id="switch-type"
    name="switchType"
    value="<%= product.details.switchType %>"
    required
  />
</div>
<div class="product-detail">
  <label for="backlit">Backlit</label>
  <input
    type="text"
    id="backlit"
    name="backlit"
    value="<%= product.details.backlit %>"
    required
  />
</div>
<div class="product-detail">
  <label for="tenkeyless">Tenkeyless</label>
  <input type="checkbox" id="tenkeyless" <%= product.details.tenkeyless ===
  "Yes" ? 'checked' : 'No' %> name="tenkeyless" />
</div>
<fieldset class="product-detail">
  <legend>Connection Type</legend>
  <div class="product-specific-input-radio">
    <div>
      <input type="checkbox" id="wired" name="connectionType" value="Wired" <%=
      product.details.connectionType.split(", ").includes("Wired") ? 'checked' :
      ''%> required />
      <label for="wired">Wired</label>
    </div>
    <div>
      <input type="checkbox" id="wireless" name="connectionType" <%=
      product.details.connectionType.split(", ").includes("Wireless") ?
      'checked' : ''%> value="Wireless" />
      <label for="wireless">Wireless</label>
    </div>
    <div>
      <input type="checkbox" id="bluetooth-wireless" name="connectionType" <%=
      product.details.connectionType.split(", ").includes("Bluetooth Wireless")
      ? 'checked' : ''%> value="Bluetooth Wireless" />
      <label for="bluetooth-wireless">Bluetooth Wireless</label>
    </div>
  </div>
</fieldset>
