<div class="product-detail">
  <label for="color">Color</label>
  <input
    type="text"
    id="color"
    name="color"
    value="<%= product.details.color %>"
    required
  />
</div>
<div class="product-detail">
  <label for="speed">Speed</label>
  <input
    type="text"
    id="speed"
    name="speed"
    value="<%= product.details.speed %>"
    required
  />
</div>
<div class="product-detail">
  <label for="modules">Modules</label>
  <input
    type="text"
    id="modules"
    name="modules"
    value="<%= product.details.modules %>"
    required
  />
</div>
<div class="product-detail">
  <label for="first-word-latency">First Word Latency</label>
  <input
    type="number"
    step=".001"
    min="0"
    id="first-word-latency"
    value="<%= parseFloat(product.details.firstWordLatency) %>"
    name="firstWordLatency"
    required
  />
</div>
<div class="product-detail">
  <label for="cas-latency">CAS Latency</label>
  <input
    type="number"
    min="0"
    id="cas-latency"
    name="casLatency"
    value="<%= parseInt(product.details.casLatency) %>"
    required
  />
</div>
