<div class="product-detail">
  <span>Color</span>
  <input type="text" name="color" value="<%= product.details.color %>" required />
</div>
<div class="product-detail">
  <span>Speed</span>
  <input type="text" name="speed" value="<%= product.details.speed %>" required />
</div>
<div class="product-detail">
  <span>Modules</span>
  <input type="text" name="modules" value="<%= product.details.modules %>" required />
</div>
<div class="product-detail">
  <span>First Word Latency</span>
  <input
    type="text"
    name="firstWordLatency"
    value="<%= product.details.firstWordLatency %>"
  required />
</div>
<div class="product-detail">
  <span>CAS Latency</span>
  <input
    type="text"
    name="casLatency"
    value="<%= product.details.casLatency %>"
  required />
</div>
