<div class="product-detail">
  <label for="screen-size">Screen Size</label>
  <input
    type="number"
    step=".1"
    min="0"
    id="screen-size"
    name="screenSize"
    value="<%= parseFloat(product.details.screenSize) %>"
    required
  />
</div>
<div class="product-detail">
  <label for="resolution">Resolution</label>
  <input
    type="text"
    id="resolution"
    name="resolution"
    value="<%= product.details.resolution %>"
    required
  />
</div>
<div class="product-detail">
  <label for="refresh-rate">Refresh Rate</label>
  <input
    type="number"
    min="0"
    id="refresh-rate"
    name="refreshRate"
    value="<%= parseInt(product.details.refreshRate) %>"
    required
  />
</div>
<div class="product-detail">
  <label for="response-time">Response Time</label>
  <input
    type="number"
    step=".01"
    min="0"
    id="response-time"
    name="responseTime"
    value="<%= parseFloat(product.details.responseTime) %>"
    required
  />
</div>
<div class="product-detail">
  <label for="panel-type">Panel Type</label>
  <input
    type="text"
    id="panel-type"
    name="panelType"
    value="<%= product.details.panelType %>"
    required
  />
</div>
<div class="product-detail">
  <label for="aspect-ratio">Aspect Ratio</label>
  <input
    type="text"
    id="aspect-ratio"
    name="aspectRatio"
    value="<%= product.details.aspectRatio %>"
    required
  />
</div>
