<div class="product-detail">
  <span>Screen Size</span>
  <input
    type="number"
    step=".1"
    min="0"
    id="screen-size"
    name="screenSize"
    value="<%= parseFloat(product.details.screenSize) %>"
    required
  />
</div>
<div class="product-detail">
  <span>Resolution</span>
  <input
    type="text"
    name="resolution"
    value="<%= product.details.resolution %>"
    required
  />
</div>
<div class="product-detail">
  <span>Refresh Rate</span>
  <input
    type="number"
    min="0"
    id="refresh-rate"
    name="refreshRate"
    value="<%= parseInt(product.details.refreshRate) %>"
    required
  />
</div>
<div class="product-detail">
  <span>Response Time</span>
  <input
    type="number"
    step=".01"
    min="0"
    id="response-time"
    name="responseTime"
    value="<%= parseFloat(product.details.responseTime) %>"
    required
  />
</div>
<div class="product-detail">
  <span>Panel Type</span>
  <input
    type="text"
    name="panelType"
    value="<%= product.details.panelType %>"
    required
  />
</div>
<div class="product-detail">
  <span>Aspect Ratio</span>
  <input
    type="text"
    name="aspectRatio"
    value="<%= product.details.aspectRatio %>"
    required
  />
</div>
