<div class="product-detail">
  <span>Color</span>
  <input type="text" name="color" value="<%= product.details.color %>" required />
</div>
<div class="product-detail">
  <span>Socket / CPU</span>
  <input type="text" name="socket" value="<%= product.details.socket %>" required />
</div>
<div class="product-detail">
  <span>Form Factor</span>
  <input
    type="text"
    name="formFactor"
    value="<%= product.details.formFactor %>"
  required />
</div>
<div class="product-detail">
  <span>Memory Max</span>
  <input
    type="text"
    name="memoryMax"
    value="<%= product.details.memoryMax %>"
  required />
</div>
<div class="product-detail">
  <span>Memory Slots</span>
  <input
    type="text"
    name="memorySlots"
    value="<%= product.details.memorySlots %>"
  required />
</div>
