<div class="product-detail">
  <label for="color">Color</label>
  <input
    type="text"
    id="color"
    name="color"
    value="<%= product.details.color %>"
    required
  />
</div>
<fieldset class="product-detail">
  <legend>Type</legend>
  <div class="product-specific-input-radio">
    <div>
      <input type="radio" id="ATX" name="type" <%= product.details.type ===
      "ATX" ? 'checked' : '' %> value="ATX" required />
      <label for="ATX">ATX</label>
    </div>
    <div>
      <input type="radio" id="SFX" name="type" <%= product.details.type ===
      "SFX" ? 'checked' : '' %> value="SFX" />
      <label for="SFX">SFX</label>
    </div>
  </div>
</fieldset>
<fieldset class="product-detail">
  <legend>Efficiency Rating</legend>
  <div class="product-specific-input-radio">
    <div>
      <input type="radio" id="Gold" name="efficiencyRating" <%=
      product.details.efficiencyRating.includes("Gold") ? 'checked' : '' %>
      value="Gold" required />
      <label for="Gold">Gold</label>
    </div>
    <div>
      <input type="radio" id="Bronze" name="efficiencyRating" <%=
      product.details.efficiencyRating.includes("Bronze") ? 'checked' : '' %>
      value="Bronze" />
      <label for="Bronze">Bronze</label>
    </div>
    <div>
      <input type="radio" id="Platinum" name="efficiencyRating" <%=
      product.details.efficiencyRating.includes("Platinum") ? 'checked' : '' %>
      value="Platinum" />
      <label for="Platinum">Platinum</label>
    </div>
    <div>
      <input type="radio" id="Titanium" name="efficiencyRating" <%=
      product.details.efficiencyRating.includes("Titanium") ? 'checked' : '' %>
      value="Titanium" />
      <label for="Titanium">Titanium</label>
    </div>
  </div>
</fieldset>
<div class="product-detail">
  <label for="wattage">Wattage</label>
  <input
    type="number"
    min="0"
    id="wattage"
    name="wattage"
    value="<%= parseInt(product.details.wattage) %>"
    required
  />
</div>
<fieldset class="product-detail">
  <legend>Modular</legend>
  <div class="product-specific-input-radio">
    <div>
      <input type="radio" id="Full" name="modular" <%= product.details.modular
      === 'Full' ? 'checked' : '' %> value="Full" required />
      <label for="Full">Full</label>
    </div>
    <div>
      <input type="radio" id="No" name="modular" <%= product.details.modular ===
      'No' ? 'checked' : '' %> value="No" />
      <label for="No">No</label>
    </div>
    <div>
      <input type="radio" id="Semi" name="modular" <%= product.details.modular
      === 'Semi' ? 'checked' : '' %> value="Semi" />
      <label for="Semi">Semi</label>
    </div>
  </div>
</fieldset>
