<div class="product-detail">
  <span>Color</span>
  <input type="text" name="color" value="<%= product.details.color %>" required />
</div>
<div class="product-detail">
  <span>Type</span>
  <input type="text" name="type" value="<%= product.details.type %>" required />
</div>
<div class="product-detail">
  <span>Efficiency Rating</span>
  <input
    type="text"
    name="efficiencyRating"
    value="<%= product.details.efficiencyRating %>"
  required />
</div>
<div class="product-detail">
  <span>Wattage</span>
  <input type="text" name="wattage" value="<%= product.details.wattage %>" required />
</div>
<div class="product-detail">
  <span>Modular</span>
  <input type="text" name="modular" value="<%= product.details.modular %>" required />
</div>
