<div class="product-detail">
  <span>Capacity</span>
  <input type="text" name="capacity" value="<%= product.details.capacity %>" required />
</div>
<div class="product-detail">
  <span>Type</span>
  <input type="text" name="type" value="<%= product.details.type %>" required />
</div>
<div class="product-detail">
  <span>Cache</span>
  <input type="text" name="cache" value="<%= product.details.cache %>" required />
</div>
<div class="product-detail">
  <span>Form Factor</span>
  <input
    type="text"
    name="formFactor"
    value="<%= product.details.formFactor %>"
  required />
</div>
<div class="product-detail">
  <span>Interface</span>
  <input
    type="text"
    name="interface"
    value="<%= product.details.interface %>"
  required />
</div>
