<div class="product-detail">
  <span>Color</span>
  <input type="text" name="color" value="<%= product.details.color %>" required />
</div>
<div class="product-detail">
  <span>Chipset</span>
  <input type="text" name="chipset" value="<%= product.details.chipset %>" required />
</div>
<div class="product-detail">
  <span>Core Clock</span>
  <input
    type="text"
    name="coreClock"
    value="<%= product.details.coreClock %>"
  required />
</div>
<div class="product-detail">
  <span>Boost Clock</span>
  <input
    type="text"
    name="boostClock"
    value="<%= product.details.boostClock %>"
  required />
</div>
<div class="product-detail">
  <span>Length</span>
  <input type="text" name="length" value="<%= product.details.length %>" required />
</div>
