<div class="product-detail">
  <span>Color</span>
  <input
    type="text"
    name="color"
    value="<%= product.details.color %>"
    required
  />
</div>
<div class="product-detail">
  <span>Chipset</span>
  <input
    type="text"
    name="chipset"
    value="<%= product.details.chipset %>"
    required
  />
</div>
<div class="product-detail">
  <span>Core Clock</span>
  <input
    type="number"
    min="0"
    id="core-clock"
    name="coreClock"
    value="<%= parseInt(product.details.coreClock) %>"
    required
  />
</div>
<div class="product-detail">
  <span>Boost Clock</span>
  <input
    type="number"
    min="0"
    id="boost-count"
    name="boostClock"
    value="<%= parseInt(product.details.boostClock) %>"
  />
</div>
<div class="product-detail">
  <span>Length</span>
  <input
    type="number"
    min="0"
    id="length"
    value="<%= parseInt(product.details.length) %>"
    name="length"
    required
  />
</div>
