<div class="product-detail">
  <label for="color">Color</label>
  <input
    type="text"
    id="color"
    name="color"
    value="<%= product.details.color %>"
    required
  />
</div>
<div class="product-detail">
  <label for="chipset">Chipset</label>
  <input
    type="text"
    id="chipset"
    name="chipset"
    value="<%= product.details.chipset %>"
    required
  />
</div>
<div class="product-detail">
  <label for="memory">Memory</label>
  <input
    type="number"
    min="0"
    id="memory"
    name="memory"
    value="<%= parseInt(product.details.memory) %>"
    required
  />
</div>
<div class="product-detail">
  <label for="core-clock">Core Clock</label>
  <input
    type="number"
    min="0"
    id="core-clock"
    name="coreClock"
    value="<%= parseInt(product.details.coreClock) %>"
    required
  />
</div>
<div class="product-detail">
  <label for="boost-clock">Boost Clock</label>
  <input
    type="number"
    min="0"
    id="boost-clock"
    name="boostClock"
    value="<%= parseInt(product.details.boostClock) %>"
  />
</div>
<div class="product-detail">
  <label for="length">Length</label>
  <input
    type="number"
    min="0"
    id="length"
    value="<%= parseInt(product.details.length) %>"
    name="length"
    required
  />
</div>
