<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <main class="builder-page">
      <div class="first-row in-products">
        <h1>Builder</h1>
        <h2>Total: $<%= buildDetails.buildPrice %></h2>
      </div>
      <form method="post" class="builder-container">
        <div class="build-components-container">
          <p>
            Components <%= error ? "Please select all components to save build"
            : "" %>
          </p>
          <div class="build-components">
            <% categories.forEach(category => { %>
            <div class="build-component-container">
              <span><%= getCategory(category.name) %></span>
              <% if(category.item) { %>
              <div class="build-component-selected">
                <a
                  href="/products/<%= category.item.id %>?choose=true&builder=true"
                >
                  <img
                    src="<%= category.item.image %>"
                    alt="<%= category.item.name %>"
                  />
                </a>
                <a
                  href="/products/<%= category.item.id %>?choose=true&builder=true"
                >
                  <p><%= category.item.name %></p>
                </a>
                <p><%= category.item.price %></p>
              </div>
              <% } else { %>
              <a
                href="/builds/builder/<%= category.name %>"
                class="build-component"
              >
                Select <%= getCategory(category.name) %>
              </a>
              <% } %>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="build-details-container">
          <p>Details</p>
          <div class="build-details">
            <div class="label-input-container">
              <label for="builder-name">Builder Name:</label>
              <input
                type="text"
                id="builder-name"
                name="builderName"
                value="<%= buildDetails.builderName !== null ? buildDetails.builderName : '' %>"
                required
              />
            </div>
            <div class="label-input-container">
              <label for="build-name">Build Name:</label>
              <input
                type="text"
                name="buildName"
                id="build-name"
                value="<%= buildDetails.buildName !== null ? buildDetails.buildName : '' %>"
                required
              />
            </div>
            <div class="label-input-container">
              <label for="image">Build Image:</label>
              <input
                type="file"
                id="image"
                name="image"
                accept="image/png, image/jpeg, image/svg+xml"
              />
            </div>
          </div>
        </div>
        <div class="build-btns-container">
          <a href="/builds/builder/cancel">
            <div class="product-submit delete">Cancel</div>
          </a>
          <button type="submit" class="product-submit add">Save</button>
        </div>
      </form>
    </main>
  </body>
</html>
