<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/bootstrap.css" />
    <link rel="stylesheet" href="static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/favicon-16x16.png"
    />
    <link rel="manifest" href="static/site.webmanifest" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <main class="products-page">
      <div class="first-row-products">
        <h1>Builds</h1>
        <a href="/builds/builder">
          <button class="product-submit add">Create a Build</button>
        </a>
      </div>
      <div class="items-container">
        <div class="sidebar">
          <form class="filter-form" action="/builds" method="get">
            <div class="filter-input-container">
              <label class="filter-label">Sort By Build Name:</label>
              <div class="filter-input">
                <input type="radio" name="sort" id="buildNameAsc"
                value="buildNameAsc" <%= sort === "buildNameAsc" ? 'checked' :
                '' %> />
                <label for="buildNameAsc">Ascending</label>
              </div>
              <div class="filter-input">
                <input type="radio" name="sort" id="buildNameDesc"
                value="buildNameDesc" <%= sort === "buildNameDesc" ? 'checked' :
                '' %> />
                <label for="buildNameDesc">Descending</label>
              </div>
            </div>
            <div class="filter-input-container">
              <label class="filter-label">Sort By Build For:</label>
              <div class="filter-input">
                <input type="radio" name="sort" id="buildForAsc"
                value="buildForAsc" <%= sort === "buildForAsc" ? 'checked' : ''
                %> />
                <label for="buildForAsc">Ascending</label>
              </div>
              <div class="filter-input">
                <input type="radio" name="sort" id="buildForDesc"
                value="buildForDesc" <%= sort === "buildForDesc" ? 'checked' :
                '' %> />
                <label for="buildForDesc">Descending</label>
              </div>
            </div>
            <div class="filter-input-container">
              <label class="filter-label">Sort By Price:</label>
              <div class="filter-input">
                <input type="radio" name="sort" id="priceAsc" value="priceAsc"
                <%= sort === "priceAsc" ? 'checked' : '' %> />
                <label for="priceAsc">Ascending</label>
              </div>
              <div class="filter-input">
                <input type="radio" name="sort" id="priceDesc" value="priceDesc"
                <%= sort === "priceDesc" ? 'checked' : '' %> />
                <label for="priceDesc">Descending</label>
              </div>
            </div>
            <button class="apply-btn" type="submit">Apply Filters</button>
          </form>
        </div>
        <div class="products builds">
          <% builds.forEach(build => { %> <%- include("build", {build: build})
          %> <% }) %>
        </div>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
