<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <main class="builder-page">
      <div class="first-row in-products">
        <h1>Builder</h1>
        <h2>Total: $<%= buildDetails.buildPrice %></h2>
      </div>
      <form
        method="post"
        class="builder-container"
        enctype="multipart/form-data"
      >
        <div class="build-components-container">
          <p class="area-title">
            Components <% if(error) { %>
            <span class="form-error">
              Please select all required components to save build*
            </span>
            <% } %>
          </p>
          <div class="build-components">
            <% categories.forEach(category => { %>
            <div class="build-component-container">
              <span
                ><%= error ? getCategory(category.name, true) :
                getCategory(category.name) %></span
              >
              <% if(category.item) { %>
              <div class="build-component-selected">
                <a
                  href="/products/<%= category.item.id %>?choose=true&builder=true"
                  class="part-image"
                >
                  <img
                    src="<%= category.item.image %>"
                    alt="<%= category.item.name %>"
                  />
                </a>
                <a
                  href="/products/<%= category.item.id %>?choose=true&builder=true"
                  class="part-name"
                >
                  <p><%= category.item.name %></p>
                </a>
                <p class="part-quantity">
                  <%= category.item.quantity %> IN STOCK
                </p>
                <p class="part-price">$<%= category.item.price %></p>
                <div class="part-buttons">
                  <a href="/builds/builder/<%= category.name %>">
                    <span class="product-submit add">Change</span>
                  </a>
                  <a href="/builds/builder/delete/<%= category.name %>">
                    <span class="product-submit delete">Remove</span>
                  </a>
                </div>
              </div>
              <% } else { %>
              <a
                href="/builds/builder/<%= category.name %>"
                class="build-component"
              >
                Select <%= getCategory(category.name) %>
              </a>
              <% } %>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="build-details-container">
          <p class="area-title">Details</p>
          <div class="build-details">
            <div class="label-input-container">
              <label for="builder-name">Build For:</label>
              <input
                type="text"
                id="builder-name"
                name="buildFor"
                value="<%= buildDetails.buildFor !== null ? buildDetails.buildFor : '' %>"
                required
              />
            </div>
            <div class="label-input-container">
              <label for="build-name">Build Name:</label>
              <input
                type="text"
                name="buildName"
                id="build-name"
                value="<%= buildDetails.buildName !== null ? buildDetails.buildName : '' %>"
                required
              />
            </div>
            <div class="label-input-container">
              <label for="image" id="image-label"
                >Build Image: <% if(buildDetails.image) { %>
                <img
                  src="<%= buildDetails.image %>"
                  alt="<% buildDetails.buildName %>"
                  class="build-image-edit"
                />
                <% } %></label
              >

              <input
                type="file"
                id="image"
                name="image"
                accept="image/png, image/jpeg, image/svg+xml"
              />
            </div>
          </div>
        </div>
        <div class="build-btns-container">
          <a href="/builds/builder/cancel">
            <div class="product-submit delete">Cancel</div>
          </a>
          <button type="submit" class="product-submit add">Save</button>
        </div>
      </form>
    </main>
  </body>
</html>
