<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/bootstrap.css" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../static/favicon-16x16.png"
    />
    <link rel="manifest" href="../../static/site.webmanifest" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <main class="products-page build">
      <div class="first-row-products">
        <h1><%= build.build_name %></h1>
        <button class="product-submit add" onclick="goBack()">
          << Return to <%= build.build_name %>
        </button>
      </div>
      <div class="items-container delete">
        <div class="sidebar build">
          <img src="<%= build.image %>" alt="<%= build.build_name %>" />
          <div class="build-page-details mobile">
            <div class="product-detail">
              <span>Build for</span>
              <span><%= build.build_for %></span>
            </div>
            <div class="product-detail">
              <span>Price</span>
              <span>$<%= build.price %></span>
            </div>
          </div>
        </div>
        <form
          method="post"
          action="/builds/delete/<%= build.id %>"
          class="delete-container"
        >
          <div class="build-page-details delete">
            <div class="product-detail delete build">
              <label for="admin-password"><b>Admin Password:</b></label>
              <div class="password-field build-delete-page">
                <div class="password-input">
                  <input
                    type="password"
                    id="admin-password"
                    name="adminPassword"
                    required
                  />
                  <img
                    src="../../static/eye-closed.svg"
                    alt="Eye icon"
                    id="show-hide-password"
                  />
                </div>
                <% if(retry) { %>
                <div class="password-error">Password incorrect</div>
                <% } %>
              </div>
            </div>
            <div class="product-page-btns delete">
              <p>
                <i>Note: Admin Password is required for build deletion</i>
              </p>
              <button type="submit" class="product-submit add">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <script>
      function goBack() {
        window.history.back();
      }

      const passwordInput = document.getElementById("admin-password");
      const togglePasswordButton =
        document.getElementById("show-hide-password");

      togglePasswordButton.addEventListener("click", function () {
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          togglePasswordButton.src = "../../static/eye-open.svg";
        } else {
          passwordInput.type = "password";
          togglePasswordButton.src = "../../static/eye-closed.svg";
        }
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
