<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/bootstrap.css" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../static/favicon-16x16.png"
    />
    <link rel="manifest" href="../../static/site.webmanifest" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <div class="product-form-header">
      <h1>Add a <%= getCategory(category) %></h1>
      <a href="/products">
        <button class="product-submit add"><< Return to products</button>
      </a>
    </div>
    <form
      action="/products/<%= category %>/new"
      method="post"
      enctype="multipart/form-data"
      class="product-form"
    >
      <div class="input-grouper">
        <div class="label-input-container">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="label-input-container">
          <label for="brand">Brand:</label>
          <input type="text" id="brand" name="brand" required />
        </div>
      </div>
      <div class="input-grouper">
        <div class="label-input-container">
          <label for="quantity">Quantity:</label>
          <input type="number" min="0" id="quantity" name="quantity" required />
        </div>
        <div class="label-input-container">
          <label for="price">Price ($):</label>
          <input
            type="number"
            min="0"
            step=".01"
            id="price"
            name="price"
            required
          />
        </div>
      </div>
      <% if(category === "cpu") { %> <%- include("product-forms/cpu-form") %> <%
      } else if(category === "cpu-cooler") { %> <%-
      include("product-forms/cpu-cooler-form") %> <% } else if(category ===
      "motherboard") { %> <%- include("product-forms/motherboard-form") %> <% }
      else if(category === "memory") { %> <%-
      include("product-forms/memory-form") %> <% } else if(category ===
      "storage") { %> <%- include("product-forms/storage-form") %> <% } else
      if(category === "video-card") { %> <%-
      include("product-forms/video-card-form") %> <% } else if(category ===
      "power-supply") { %> <%- include("product-forms/power-supply-form") %> <%
      } else if(category === "case") { %> <%- include("product-forms/case-form")
      %> <% } else if(category === "monitor") { %> <%-
      include("product-forms/monitor-form") %> <% } else if(category ===
      "headphones") { %> <%- include("product-forms/headphones-form") %> <% }
      else if(category === "keyboard") { %> <%-
      include("product-forms/keyboard-form") %> <% } else if(category ===
      "mouse") { %> <%- include("product-forms/mouse-form") %> <% } %>
      <div class="input-grouper">
        <div class="label-input-container">
          <label for="image">Image:</label>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/png, image/jpeg, image/svg+xml"
          />
        </div>
      </div>
      <div class="input-grouper">
        <button type="submit" class="product-submit">Submit</button>
      </div>
    </form>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
