<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles.css" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <h1 id="product-form-header">Add a new <%= getCategory(category) %></h1>
    <form
      action="/<%= category %>/new"
      method="post"
      enctype="multipart/form-data"
      class="product-form"
    >
      <div class="input-grouper duo">
        <div class="label-input-container">
          <label for="name">Name:</label>
          <input type="text" required id="name" name="name" />
        </div>
        <div class="label-input-container">
          <label for="brand">Brand:</label>
          <input type="text" id="brand" name="brand" />
        </div>
      </div>
      <% if(category === "cpu") { %> <%- include("product-forms/cpu-form") %> <%
      } else if(category === "cpu-cooler") { %> <%-
      include("product-forms/cpu-cooler-form") %> <% } else if(category ===
      "motherboard") { %> <%- include("product-forms/motherboard-form") %> <% }
      else if(category === "memory") { %> <%-
      include("product-forms/memory-form") %> <% } else if(category ===
      "storage") { %> <%- include("product-forms/storage-form") %> <% } else
      if(category === "video-card") { %> <%-
      include("product-forms/video-card-form") %> <% } else if(category ===
      "power-supply") { %> <%- include("product-forms/power-supply-form") %> <%
      } else if(category === "case") { %> <%- include("product-forms/case-form")
      %> <% } else if(category === "monitor") { %> <%-
      include("product-forms/monitor-form") %> <% } else if(category ===
      "headphones") { %> <%- include("product-forms/headphones-form") %> <% }
      else if(category === "keyboard") { %> <%-
      include("product-forms/keyboard-form") %> <% } else if(category ===
      "mouse") { %> <%- include("product-forms/mouse-form") %> <% } %>
      <div class="input-grouper">
        <div class="label-input-container">
          <label for="quantity">Quantity:</label>
          <input type="number" min="0" required id="quantity" name="quantity" />
        </div>
        <div class="label-input-container">
          <label for="price">Price:</label>
          <input type="number" min="0" step=".01" id="price" name="price" />
        </div>
        <div class="label-input-container">
          <label for="image">Image:</label>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/png, image/jpeg, image/svg+xml"
          />
        </div>
      </div>
      <div class="input-grouper">
        <button type="submit" id="product-submit">Submit</button>
      </div>
    </form>
  </body>
</html>
