<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/favicon-16x16.png"
    />
    <link rel="manifest" href="static/site.webmanifest" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <main aria-labelledby="products-heading" class="products-page">
      <div class="first-row-products">
        <h1 id="products-heading">Products</h1>
        <a
          aria-label="Add a product"
          class="product-submit add"
          href="/products/new"
        >
          Add a Product
        </a>
      </div>
      <section class="items-container">
        <section role="region" aria-label="Sidebar menu" class="sidebar">
          <form class="filter-form" action="/products" method="get">
            <span id="sort-instructions" class="sr-only"
              >Use arrow keys to move through sort options</span
            >
            <fieldset aria-describedby="sort-instructions" class="filter-group">
              <legend class="filter-legend">Sort By Name:</legend>
              <div class="filter-input">
                <input type="radio" name="sort" id="nameAsc" value="nameAsc" <%=
                sort === "nameAsc" ? 'checked' : '' %> />
                <label for="nameAsc">Ascending</label>
              </div>
              <div class="filter-input">
                <input type="radio" name="sort" id="nameDesc" value="nameDesc"
                <%= sort === "nameDesc" ? 'checked' : '' %> />
                <label for="nameDesc">Descending</label>
              </div>
            </fieldset>
            <fieldset aria-describedby="sort-instructions" class="filter-group">
              <legend class="filter-legend">Sort By Price:</legend>
              <div class="filter-input">
                <input type="radio" name="sort" id="priceAsc" value="priceAsc"
                <%= sort === "priceAsc" ? 'checked' : '' %> />
                <label for="priceAsc">Ascending</label>
              </div>
              <div class="filter-input">
                <input type="radio" name="sort" id="priceDesc" value="priceDesc"
                <%= sort === "priceDesc" ? 'checked' : '' %> />
                <label for="priceDesc">Descending</label>
              </div>
            </fieldset>
            <fieldset aria-describedby="sort-instructions" class="filter-group">
              <legend class="filter-legend">Sort By Quantity:</legend>
              <div class="filter-input">
                <input type="radio" name="sort" id="quantityAsc"
                value="quantityAsc" <%= sort === "quantityAsc" ? 'checked' : ''
                %> />
                <label for="quantityAsc">Ascending</label>
              </div>
              <div class="filter-input">
                <input type="radio" name="sort" id="quantityDesc"
                value="quantityDesc" <%= sort === "quantityDesc" ? 'checked' :
                '' %> />
                <label for="quantityDesc">Descending</label>
              </div>
            </fieldset>
            <fieldset class="filter-group">
              <legend class="filter-legend">Filter By Category:</legend>
              <% categories.forEach(category => { %>
              <div class="filter-input">
                <input type="checkbox" name="category" id="<%= category.name %>"
                value="<%= category.name %>" <%=
                checkedCategories.includes(category.name) ? 'checked' : '' %> />
                <label for="<%= category.name %>"><%= category.name %></label>
              </div>
              <% }) %>
            </fieldset>
            <button
              aria-label="Apply selected filters"
              class="apply-btn"
              type="submit"
            >
              Apply Filters
            </button>
          </form>
        </section>
        <section role="region" aria-label="Product results" class="products">
          <% products.forEach(product => { %> <%- include("product", {product:
          product, brandImage: brandImage, pageState: false}) %> <% }) %>
        </section>
      </section>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
