<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap.css" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/site.webmanifest" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <main aria-labelledby="product-heading" class="product-page">
      <div class="first-row-product">
        <% if(pageState) { %>
        <button
          type="button"
          class="product-submit add"
          onclick="goBack()"
          aria-label="<%= pageState === 'build' 
                            ? `Return to ${product.buildName}`
                            : pageState === 'choose-builder'
                                ? 'Return to Builder'
                                : 'Return to products' %>"
        >
          <% } %> <% if(pageState === "build") { %> &laquo; Return to <%=
          product.buildName %> <% } else if(pageState === "choose-builder") { %>
          &laquo; Return to Builder <% } else if(pageState === "choose") { %>
          &laquo; Return to parts
        </button>
        <% } else { %>
        <a href="/products" class="product-submit add"
          >&laquo; Return to products
        </a>
        <% } %>
      </div>
      <section
        role="region"
        aria-labelledby="product-heading"
        class="product-container"
      >
        <header class="category-brand">
          <p><%= product.category %></p>
          <% if(brandImage.brandImageExists(product.brand)) { %>
          <img
            src="<%= brandImage.getBrandImage(product.brand) %>"
            alt=""
            aria-hidden="true"
          />
          <% } %>
          <p class="sr-only">Brand: <%= product.brand %></p>
        </header>
        <figure class="product-page-image">
          <img src="<%= product.image %>" alt="Image of <%= product.name %>" />
          <figcaption class="sr-only"><%= product.name %></figcaption>
        </figure>
        <div class="product-page-details">
          <h1 id="product-heading"><%= product.name %></h1>
          <dl class="specific-details">
            <div class="product-detail">
              <dt>Price</dt>
              <dd>$<%= product.price %></dd>
            </div>
            <div class="product-detail">
              <dt>Quantity</dt>
              <dd>x<%= product.quantity %></dd>
            </div>
            <% if(category === "cpu") { %> <%- include("product-pages/cpu-page")
            %> <% } else if(category === "cpu-cooler") { %> <%-
            include("product-pages/cpu-cooler-page") %> <% } else if(category
            === "motherboard") { %> <%-
            include("product-pages/motherboard-page") %> <% } else if(category
            === "memory") { %> <%- include("product-pages/memory-page") %> <% }
            else if(category === "storage") { %> <%-
            include("product-pages/storage-page") %> <% } else if(category ===
            "video-card") { %> <%- include("product-pages/video-card-page") %>
            <% } else if(category === "power-supply") { %> <%-
            include("product-pages/power-supply-page") %> <% } else if(category
            === "case") { %> <%- include("product-pages/case-page") %> <% } else
            if(category === "monitor") { %> <%-
            include("product-pages/monitor-page") %> <% } else if(category ===
            "headphones") { %> <%- include("product-pages/headphones-page") %>
            <% } else if(category === "keyboard") { %> <%-
            include("product-pages/keyboard-page") %> <% } else if(category ===
            "mouse") { %> <%- include("product-pages/mouse-page") %> <% } %>
          </dl>
        </div>
        <div class="product-page-btns">
          <% if(pageState === "choose-builder" || pageState === "build") { %> <%
          } else if(pageState === "choose") { %>
          <form method="post" action="/builds/builder/<%= product.category %>">
            <input type="hidden" name="productId" value="<%= product.id %>" />
            <button
              type="submit"
              class="product-submit add"
              aria-label="Select <%= product.name %>"
            >
              Select
            </button>
          </form>
          <% } else { %>
          <form method="get" action="/products/edit/<%= product.id %>">
            <button
              type="submit"
              class="product-submit add"
              aria-label="Edit <%= product.name %>"
            >
              Edit
            </button>
          </form>
          <a
            href="/products/delete/<%= product.id %>"
            class="product-submit delete"
            aria-label="Delete <%= product.name %>"
            >Delete
          </a>
          <% } %>
        </div>
      </section>
    </main>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
